.body.ar{
  font-family: "Noto Kufi Arabic", sans-serif;
}
.mainHeader {
  -webkit-box-shadow: 12px 26px 44px -34px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 12px 26px 44px -34px rgba(0, 0, 0, 0.54);
  box-shadow: 12px 26px 44px -34px rgba(0, 0, 0, 0.54);
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: row;
  height: fit-content;
}
.product-info .image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
}
.product-info .image-preview img {
  width: 90%;
  height: 100%;
}
.product-info .details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.product-info .details .title {
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 4%;
  color: #000000;
  font-weight: bold;
}
.rating {
  margin-top: 5px;
}
.product-info .details .rating.rate-point {
  font-size: 18px;
  line-height: 22px;
}
.fa-solid.fa-star.active-rate {
  color: #f4cd1e;
}
.fa-solid.fa-star-half.active-rate {
  color: #f4cd1e;
}
.fa-solid.fa-star {
  color: #ccc;
}
.details .dimensions {
  margin-top: 20px;
  perspective: 1000px;
}

.details .dimension-box {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: rotateY(10deg); /* Rotate for 3D effect */
  transition: transform 0.3s ease;
}

.details .dimension-box:hover {
  transform: rotateY(0deg); /* Remove rotation on hover */
}

.details .dimension-box p {
  margin: 5px 0;
  font-size: 16px;
}

.details .dimension-box span {
  font-weight: bold;
}

.product-info .details .price {
  color: #2ec1ac;
  font-size: 30px;
  letter-spacing: 4%;
  font-weight: bold;
}
.product-info .details .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info .details .buttons .add-to-cart {
  width: 75%;
  height: 50px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #73e4d3;
  cursor: pointer;
}
.wishlist {
  width: 24%;
  height: 50px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #2ec1ac;
  background-color: white;
  cursor: pointer;
}
.buyNow {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2%;
  color: #000000;
  background-color: #73e4d3;
  margin-top: 1rem;
  cursor: pointer;
}
.colors {
  width: 100%;
  display: flex;
  margin: 20px 0 20px 0;
}
.colors div {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 7px;
  margin-right: 15px;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
.pink {
  background-color: pink;
}
.white {
  background-color: rgb(231, 231, 231);
}
.grey {
  background-color: grey;
}
.title-colors {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.relatedproducts > .title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 6rem;
}
.relatedproducts .products-container {
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.hidden {
  display: none;
}
.product-item {
  height: max-content;
  min-height: 400px;
}
.view-more-suggest {
  display: flex;
  justify-content: start;
  align-items: center;
}
#show-more-products {
  width: 50px;
  aspect-ratio: 1;
  border-radius: calc(infinity * 1px);
  color: white;
  background-color: #e89f71;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
#show-more-products:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .product-info {
    flex-direction: column;
  }
  .product-info .image-preview {
    width: 100%;
    height: 30vh;
  }
  .product-info .image-preview img {
    width: 100%;
  }
  .product-info .details {
    width: 100%;
  }
  .relatedproducts > .title {
    font-size: 35px;
  }
  .relatedproducts .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.body.ar button{
  font-family: "Noto Kufi Arabic", sans-serif;
}